body {
    font-family: sans-serif;
    background-color: #1f3a93;
    color: white;
}

.position-input {
    display: none;
}

table {
    margin: 80px auto;
    border-collapse: collapse;
    font-size: 50px;
    text-transform: uppercase;
}


td {
    border-bottom: 10px solid white;
    text-align: center;
    //cursor: pointer;
    width: 100px;
    height: 100px;
    /box-sizing: border-box;
}

tr:last-child td {
    border-bottom: 0px;
}

.border {
    border-right: 10px solid white;
}

h1 {
    text-align: center;
}

.player-container {
}

.clerfix::after {
    content: "";
    display: table;
    clear: both;
}

h2 {
    float: left;
    padding-left: 70px;
    color: #898989;
}

h2:last-child {
    float: right;
    padding-left: 10px;
    padding-right: 70px;
}

span {
    font-size: 30px;
}

.h2-active {
    color: white;
}

.player-1::after {
    color: #36dbd7;
    content: "x";
}

.player-2::after {
    color: #f62459;
    content: "o";
}

.cheesman::after {
    text-transform: uppercase;
    font-size: 45px;
    vertical-align: middle;
    font-weight: bold;
    display: none;
}

h1::after {
    display: inline-block !important;
}

table .cheesman {
    line-height: 90px;
}


table label {
    width: 100%;
    height: 100%;
    /background-color: red;
    display: block;
    /opacity: 0.25;
    cursor: pointer;
}

#position-0:checked ~ table tr td label[for="position-0"]::after, 
#position-1:checked ~ table tr td label[for="position-1"]::after, 
#position-2:checked ~ table tr td label[for="position-2"]::after,
#position-3:checked ~ table tr td label[for="position-3"]::after,
#position-4:checked ~ table tr td label[for="position-4"]::after,
#position-5:checked ~ table tr td label[for="position-5"]::after,
#position-6:checked ~ table tr td label[for="position-6"]::after,
#position-7:checked ~ table tr td label[for="position-7"]::after,
#position-8:checked ~ table tr td label[for="position-8"]::after {
    display: block;
}