body {
    font-family: sans-serif;
    background-color: #1f3a93;
    color: white;
    
    overflow-x: hidden;
}

table {
    margin: 80px auto;
    border-collapse: collapse;
    text-transform: uppercase;
    transition: 0.5s ease all;
}

.cheesman {
    font-size: 50px;
    font-weight: normal;
    vertical-align: middle;
}

h1 .color-1 {
    margin-left: 6px;
}


td {
    border-bottom: 10px solid white;
    text-align: center;
    cursor: pointer;
    width: 100px;
    height: 100px;
    box-sizing: border-box;
}

tr:last-child td {
    border-bottom: 0px;
}

.border {
    border-right: 10px solid white;
}

h1 {
    text-align: center;
    transition: 0.5s ease all;
}

.player-container {
    
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

h2 {
    padding-left: 70px;
    color: #898989;
}

h2:first-child {
    float: left;
}

h2:last-child {
    float: right;
    padding-left: 10px;
    padding-right: 70px;
}

span {
    font-size: 30px;
}

.h2-active {
    color: white;
}

.color-1 {
    color: #36dbd7;
}

.color-2 {
    color: #f62459;
}

.button-restart {
    margin: 0 auto;
    display: block;
    width: 200px;
    height: 40px;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    border: 2px solid white;
    background-color: #1f3a93;
    color: white;
    font-size: 15px;
}

.button-restart:hover {
    color: #1f3a93;
    background-color: white;
}

.win-message {
    transform: scale(2) translateY(100px)
}

.end-math {
    transform: scale(0.8);
    filter: blur(10px);
    position: relative;
}

.end-math::before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
}