body {
    font-family: sans-serif;
    background-color: #1f3a93;
    color: white;
}

table {
    margin: 80px auto;
    border-collapse: collapse;
    font-size: 50px;
    text-transform: uppercase;
}

td {
    border-bottom: 10px solid white;
    text-align: center;
    cursor: pointer;
    width: 100px;
    height: 100px;
    box-sizing: border-box;
}

tr:last-child td {
    border-bottom: 0px;
}

.border {
    border-right: 10px solid white;
}

h1 {
    text-align: center;
}

.player-container {
}

.clerfix::after {
    content: "";
    display: table;
    clear: both;
}

h2 {
    float: left;
    padding-left: 70px;
    color: #898989;
}

h2:last-child {
    float: right;
    padding-left: 10px;
    padding-right: 70px;
}

span {
    font-size: 30px;
}

.h2-active {
    color: white;
}

.color-1 {
    color: #36dbd7;
}

.color-2 {
    color: #f62459;
}
